
container{
    background-color: #e5e5e5;
}
.navbar{
    background-color: #e5e5e5;;
    border-radius: 30px;
    box-shadow: 0 2px 7px rgb(0 0 0 / 20%);
}
  
.navbar ul{
    overflow:auto;
}

.navbar li{
    float: right;
    list-style: none;
    margin: 13px 20px;

}

.navbar li a{
    padding: 2px 2px;
    text-decoration: none;
    color:black;

}

.navbar li a:hover{
    color:rgb(80, 78, 78);
}

.box{
    display:flex;
    gap:20px;
    flex-wrap: wrap;
    padding: 60px;
    background-color: #fff;
    width: 850px;
    box-shadow: 0 2px 7px rgb(0 0 0 / 20%);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    height: 140px;
    padding: 15px;
    background-color: #fff;
    width: 180px;
    box-shadow: 0 2px 7px rgb(0 0 0 / 20%);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}
.box span{
    color: #e16259;
}
    .box h2{
        color: #1f1d1d5d;
        
    }
    .card {
        padding: 50px;
        background-color: #fff;
        width: 80%;
        box-shadow: 0 2px 7px rgb(0 0 0 / 20%);
        border-radius: 4px;
        display: flex;
        flex-direction:row;
        cursor: pointer;
        margin: auto;
        border-radius: 20px;
        
    }
    .box a:hover {
        background-color: #a259ff;

    }
.image{
    display: flex;
    flex-wrap: wrap;
    height: 150px;
    width: 120px;
    padding: 10px;
    
}
       
.new{
    display: flex;
    flex-direction: column;
    
}

.multiples{
    display:flex;
    gap:40px;
    flex-wrap:wrap;
    margin-top: 60px;
    margin-left: 90px;
    grid-column-start: 1 auto;
    }
    .cardog {
        padding: 15px;
        background-color: #fff;
        width: 180px;
        box-shadow: 0 2px 7px rgb(0 0 0 / 20%);
        border-radius: 4px;
        display: flex;
        flex-direction: column;
        cursor: pointer;
    }
.card1-top {
    color: rgba(0,0,0,.6);
    font-size: 14px;
    text-transform: capitalize;
}
.card2-mid {
    font-size: 22px;
    font-weight: 700;
    margin:10px 0;
}
.card3-bottom {
    color: #e16259;
    font-size: 15px;
}
